// FOOTER :: START

footer#footer.footer

  .footer__container.footer__container-1
    .c-grid
      .footer__wrapper.footer__wrapper-1
        .footer__wrapper-left

          .footer__address
            p.footer__address-country LAS VEGAS, NV
            p.footer__address-desc!= "7710 West Sahara Avenue <br>Suite 102, Las Vegas, NV 89117"

            a.footer__address-tel(href='tel:7255009979') 725-500-9979

        .footer__wrapper-middle

          .logo.logo--footer
            a.logo__btn(href="#")
              img(src="img/logo-footer.png" srcset="img/logo-footer@2x.png 2x" alt="")

        .footer__wrapper-right

  .footer__container.footer__container-2
    .c-grid
      .footer__wrapper.footer__wrapper-2

        .copyright
          p.copyright__text!= "©<strong>Dr. K. Beauty in LV</strong>. ALL RIGHTS RESERVED."

        .made
          p.made__text!= "Website Design & SEO by <a href='#'>MRKTMADE</a>"

        nav.footer__nav
          a(href="#") Privacy Policy
          span |
          a(href="#") TOS
          span |
          a(href="#") SITEMAP

// FOOTER :: END
