// SECTION :: START

section#doctor.doctor

  .doctor__bg

    img(src="img/img-watermark-bw.svg" alt="")

  .c-grid
    .doctor__wrapper

      h2.doctor__title.c-title Las Vegas’ Doctor K.
      p.doctor__desc.c-desc!= "<strong>Board-certified Internal Medicine Physician</strong> practicing over 20 years. I completed a rigorous residency at <strong>Yale New Haven Hospital St. Raphael</strong> campus in New Haven CT."
      p.doctor__desc.c-desc I have a passion for wellness on many levels and believe in treating beauty, body, and mind as a whole – through achieving the harmony and balance between all three components.
      p.doctor__desc.c-desc Our Las Vegas med spa can help you with weight loss, IV vitamins infusion therapy, hormone replacement, body contouring, incontinence treatments, Botox injections, fillers, skin rejuvenation, hair restorations, non-surgical eyelids treatments, non-surgical neck tightening, and plasma treatments using cutting edge technology, and the latest research.
      p.doctor__desc.c-desc I am looking forward to becoming your consultant and guide in your journey to wellness, anti-aging, and beauty.

      a.doctor__link(href="#") MEET OUR PRACTICE

// SECTION :: END
