// SECTION :: START

section#meet.meet(style='background-image:url("img/img-meet.jpg")')
  .c-grid
    .meet__wrapper
      div

        p.meet__label.c-label Internal Medicine, Hospitalist, Las Vegas, NV
        h2.meet__title.c-title!= "Dr. Yekaterina <br>Khronusova, MD"
        p.meet__desc.c-desc Dr. Khronusova, MD is a practicing Internist in Las Vegas, NV. She completed a residency at the Hospital of Saint Raphael. Dr. Khronusova also specializes as a Hospitalist. Dr. Khronusova accepts multiple insurance plans including Medicare, Medicaid, and First Health (Coventry Health Care). Dr. Khronusova is board certified in Internal Medicine. Dr. Khronusova also practices at HealthCare Partners of NV Inpatient Team in Las Vegas, NV.

        .meet__btn.c-btn__wrapper
          a.c-btn(href="#") MEET THE DOCTOR

// SECTION :: END
