// SECTION :: START

section#patient-resources.patient-resources

  .c-grid

    .patient-resources__wrapper

      p.patient-resources__label.c-label OUR PRACTICE
      h2.patient-resources__title.c-title Patient Resources

      p.patient-resources__desc.c-desc We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

    nav.patient-resources__link
      a(href="#") patient forms
      a(href="#") fees & financing
      a(href="#") leave a review



// SECTION :: END
