// STYLE :: START

link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.0.6/swiper-bundle.min.css" integrity="sha512-dlzxoRxU0/ZfgAUFn+8LwmuvNCrVZ3gnPedd8c3m5YwEq1bory6yFCt3uOzDTxnY4fTqVpM0Twxcn8scmBvuQg==" crossorigin="anonymous" referrerpolicy="no-referrer")

link(rel="stylesheet" href="css/vendor.css")
link(rel="stylesheet" href="css/app.css")

// STYLE :: END
