// LABEL :: START

.c-label {
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #d015a5;
  text-transform: uppercase;
  @include adaptive(1023) {
    font-size: 12px;
  }
}

// LABEL :: END
