// TITLE :: START

.c-title {
  @extend %fontPlayfairDisplay;
  font-weight: normal;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  color: #000;

  &.c-title--big {
    font-size: 140px;
  }
  &.c-title--small {
    font-size: 40px;
  }
  &.c-title--white {
    color: #ffffff;
  }
}

// TITLE :: END
