// HEADER :: START

.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include transition(background-color);

  .is-menuOpen & {
    background-color: transparent;
    @include transition(background-color);

    .header {
      &__address,
      &__request {
        opacity: 0;
        @include transition(opacity);
      }
    }

    .logo {
      &.logo--header {
        .logo {
          &__img {
            &:nth-of-type(2) {
              opacity: 1;
              @include transition(opacity);
            }
          }
        }
      }
    }

    .hamburger {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #000;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include adaptive(1023) {
      height: 90px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > div {
        padding-left: 20px;
      }
    }
  }

  &__address,
  &__request {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    @include hoverState(#fff);
    @include transition(opacity);
    @include adaptive(1279) {
      font-size: 14px;
    }
    @include adaptive(1023) {
      display: none;
    }
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: 1px solid #fff;
    border-radius: 50%;
    @include adaptive(767) {
      width: 55px;
      height: 55px;
    }
  }
}

// HEADER :: END
