// SECTION :: START

.doctor {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      @extend %imageResCoverAbs;
      left: 100px;
      object-fit: none;
      object-position: left center;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    padding-bottom: 50px;

    strong {
      font-weight: 700;
    }
  }

  &__desc {
    padding-bottom: 25px;

    &:last-of-type {
      padding-bottom: 50px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 38px;
    text-align: center;
    color: #000;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      top: calc(100% + 20px);
      left: 0;
      right: 0;
      width: 40px;
      height: 3px;
      background-color: #d010a5;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// SECTION :: END
