// SECTION :: START

.doctor {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  @include adaptive(1535) {
    padding-top: 125px;
    padding-bottom: 125px;
  }
  @include adaptive(1279) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      @extend %imageResCoverAbs;
      left: 100px;
      object-fit: none;
      object-position: left center;
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    padding-bottom: 50px;

    strong {
      font-weight: 700;
    }
  }

  &__desc {
    padding-bottom: 25px;

    &:last-of-type {
      padding-bottom: 50px;
      @include adaptive(767) {
        padding-bottom: 25px;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 38px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    @include adaptive(1365) {
      font-size: 16px;
    }
    @include adaptive(767) {
      font-size: 14px;
    }

    &:hover {
      &:after {
        width: 100px;
        @include transition(width);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(100% + 20px);
      left: 0;
      right: 0;
      width: 40px;
      height: 3px;
      background-color: #d010a5;
      margin-left: auto;
      margin-right: auto;
      @include transition(width);
      @include adaptive(1279) {
        top: calc(100% + 10px);
      }
    }
  }
}

// SECTION :: END
