// SECTION :: START

.service {
  position: relative;

  .c-grid-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(90% - 250px);
    background-image: url('../img/img-pattern.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-top: 70px;
    @include adaptive(767) {
      padding-top: 25px;
    }
  }

  &__carousel {
    .swiper {
      padding-top: 100px;
      padding-bottom: 100px;

      &-slide {
        width: 800px !important;
        @include adaptive(1535) {
          width: 700px !important;
        }
        @include adaptive(1439) {
          width: 600px !important;
        }
        @include adaptive(1279) {
          width: 500px !important;
        }
        @include adaptive(767) {
          width: calc(100% - 80px) !important;
        }
      }
    }
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 150px 115px 90px;
    box-shadow: 5px 3px 25px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    @include adaptive(1535) {
      padding-left: 90px;
      padding-right: 90px;
    }
    @include adaptive(1439) {
      padding-left: 75px;
      padding-right: 75px;
      padding-bottom: 75px;
    }
    @include adaptive(1279) {
      padding: 100px 50px 50px;
    }
    @include adaptive(767) {
      padding: 50px 20px 25px;
    }

    &-watermark {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: block;
      max-width: 140px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      @include adaptive(1365) {
        max-width: 100px;
      }
      @include adaptive(767) {
        max-width: 50px;
      }
    }

    &-title {
      padding-bottom: 50px;
      @include adaptive(767) {
        padding-bottom: 25px;
      }
    }

    &-desc {
      padding-bottom: 50px;
      @include adaptive(767) {
        padding-bottom: 25px;
      }
    }
  }
}

// SECTION :: END
