-
  const project = 'Dr. Khronusova';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '1'
    }, {
      name: 'About',
      href: 'about.html',
      progress: '0'
    }, {
      name: 'Meet',
      href: 'meet.html',
      progress: '0'
    }, {
      name: 'Meet',
      href: 'meet.html',
      progress: '0'
    }, {
      name: 'Lip Fillers',
      href: 'lip.html',
      progress: '0'
    }, {
      name: 'Contact Us',
      href: 'contact.html',
      progress: '0'
    }, {
      name: 'Face Procedures',
      href: 'face.html',
      progress: '0'
    }
  ];
