// SECTION :: START

section#seen.seen
  .c-grid
    .seen__wrapper
      .seen__wrapper-left

        img(src="img/img-seen.png" alt="")

      .seen__wrapper-right

        p.seen__label.c-label AS SEEN IN THE MEDIA
        h2.seen__title.c-title!= "MYVEGAS <br>TOP 100 DOCTORS"
        p.seen__desc.c-desc Dr. Khronusova, MD is a practicing Internist in Las Vegas, NV. She completed a residency at the Hospital of Saint Raphael. Dr. Khronusova also specializes as a Hospitalist. Dr. Khronusova accepts multiple insurance plans including Medicare, Medicaid, and First Health (Coventry Health Care). Dr. Khronusova is board certified in Internal Medicine. Dr. Khronusova also practices at HealthCare Partners of NV Inpatient Team in Las Vegas, NV.

        .c-btn__wrapper
          a.c-btn(href="#") In the Media

// SECTION :: END
