// SECTION :: START

section#contact.contact
  .c-grid
    .contact__wrapper.contact__wrapper-1

      p.contact__label.c-label COME VISIT US IN LAS VEGAS
      h2.contact__title.c-title SCHEDULE A CONSULTATION

      form.contact__form(action='' method='' autocomplete='off')
        .contact__form-group
          div
            .contact__form-field
              label
                input(type='text' placeholder='Full Name*')
          div
            .contact__form-field
              label
                input(type='tel' placeholder='Phone*')
        .contact__form-group
          div
            .contact__form-field
              label
                input(type='email' placeholder='Email Address*')
          div
            .contact__form-field
              label
                select
                  option Procedure of Interest
                  option Procedure of Interest
        .contact__form-group
          div
            .contact__form-field
              label
                select
                  option How did you hear about us?
                  option How did you hear about us?
          div
            .contact__form-field
              label
                select
                  option Best time to reach you
                  option Best time to reach you
        .contact__form-field
          label
            textarea(placeholder='How can we help you?')
        .contact__form-field.contact__form-field--btn
          .c-btn__wrapper.c-btn__wrapper--center
            button.c-btn(type='submit') SCHEDULE A CONSULTATION

// SECTION :: END
